* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f9f9fd;
    opacity: 1;
    background-image: radial-gradient(#0d0f31 0.5px, transparent 0.5px), radial-gradient(#0d0f31 0.5px, #f9f9fd 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;

}


h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

#looseText {
    margin-bottom: 10px;
    color: red;
    display: none;
}

#winText {
    color: lime;
    margin-bottom: 10px;
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#modal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f9f9fd;
    border: solid 1px black;
    border-radius: 20px;
    padding: 30px;
}

#board.nine{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: #f9f9fd;
    margin-top: 20px;
}

#board.sixteen {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: #f9f9fd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
    margin: 1px;
    width: 40px;
    height: 40px;
    font-size: 25px;

    user-select: none;
}

.cover {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #e8e8e8;
    cursor: pointer;
    z-index: 2;
    position: absolute;
}

.cover:hover {
    background-color: #a4a2a2;
}

.cell.revealed .cover {
    display: none;
}


/*Play Game Button*/
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #fff;
    --button_outline_color: #323232;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    cursor: pointer;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

#reset {
    display: none;
}


.wrapper {
    --font-color-dark: #323232;
    --font-color-light: #FFF;
    --bg-color: #fff;
    --main-color: #323232;
    position: relative;
    width: 250px;
    height: 36px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px var(--main-color);
}

.option {
    width: 80.5px;
    height: 28px;
    position: relative;
    top: 2px;
    left: 2px;
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: var(--font-color-dark);
}

.input:checked+.btn {
    background-color: var(--main-color);
}

.input:checked+.btn .span {
    color: var(--font-color-light);
}